
$colors: (
    primary: (
        100: #8f9cbd,
        200: #7086c2,
        300: #6985cf,
        400: #102851,
        500: #0e305d,
    ),
    secondary:(
        100: #9ebefa,
        200: #6e9ef7,
        300: #3e7ef4,
        400: #255b98,
        500: #062560,
    ),
    teritary:(
        100: #939497,
        200: #9c9c9c,
        300: #cccccf,
        400: #e4e7eb,
        500: #ffffff,
    ),
    success:(
        100: #b5d8a7,
        200: #a9d09e,
        300: #a2c897,
        400: #8cb081,
        500: #7da67d,
    ),
    danger:(
        100: #f7c9c9,
        200: #f4b7b7,
        300: #f2a5a5,
        400: #e78c8c,
        500: #e07a7a,
    ),
    warning:(
        100: #f9e0b0,
        200: #f8d098,
        300: #f7c076,
        400: #f5a856,
        500: #f39a4e,
    ),
    info:(
        100: #b5d8f7,
        200: #a9d0f4,
        300: #a2c8f2,
        400: #8cb0e7,
        500: #7da6e5,
    ),
    light:(
        100: #f7f7f7,
        200: #f2f2f2,
        300: #ebebeb,
        400: #e4e4e4,
        500: #dcdcdc,
    ),
    dark:(
        100: #1f2d3d,
        200: #2a3f54,
        300: #2e4f6c,
        400: #3b5f8b,
        500: #4c6f9e,
    ),
   
    transparent:(
        100: transparent,
        200: transparent,
        300: transparent,
        400: transparent,
        500: transparent,
    )
);


