
        $clr-primary-100: #8f9cbd;
        $clr-primary-200: #7086c2;
        $clr-primary-300: #6985cf;
        $clr-primary-400: #102851;
        $clr-primary-500: #0e305d;

        $clr-secondary-100: #9ebefa;
        $clr-secondary-200: #6e9ef7;
        $clr-secondary-300: #3e7ef4;
        $clr-secondary-400: #255b98;
        $clr-secondary-500: #062560;

        $clr-teritary-100: #939497;
        $clr-teritary-200: #9c9c9c;
        $clr-teritary-300: #cccccf;
        $clr-teritary-400: #e4e7eb;
        $clr-teritary-500: #ffffff;

        $clr-success-100: #b5d8a7;
        $clr-success-200: #a9d09e;
        $clr-success-300: #a2c897;
        $clr-success-400: #8cb081;
        $clr-success-500: #7da67d;

        $clr-danger-100: #f7c9c9;
        $clr-danger-200: #f4b7b7;
        $clr-danger-300: #f2a5a5;
        $clr-danger-400: #e78c8c;
        $clr-danger-500: #e07a7a;

        $clr-warning-100: #f9e0b0;
        $clr-warning-200: #f8d098;
        $clr-warning-300: #f7c076;
        $clr-warning-400: #f5a856;
        $clr-warning-500: #f39a4e;

        $clr-info-100: #b5d8f7;
        $clr-info-200: #a9d0f4;
        $clr-info-300: #a2c8f2;
        $clr-info-400: #8cb0e7;
        $clr-info-500: #7da6e5;

        $clr-light-100: #ffffff;
        $clr-light-200: #ececec;
        $clr-light-300: #dfdfdf;
        $clr-light-400: #b9b9b9;
        $clr-light-500: #afafaf;
   
        $clr-dark-100: #1f2d3d;
        $clr-dark-200: #2a3f54;
        $clr-dark-300: #2e4f6c;
        $clr-dark-400: #3b5f8b;
        $clr-dark-500: #4c6f9e;
    
   

