.find {
	padding: 8rem;
	background-color: $clr-light-300;
	&__wrapper {
		@include flex-between(row);
	}
	& i {
		// display: inline;
		position: relative;
		margin-right: 10px;
		vertical-align: baseline;
	}

	& h2 {
		color: $clr-primary-400;
		font-weight: FW(bold);
		font-size: FS(lgxx);
		//padding: 15rem 5rem 1rem 5rem;
	}
	& h3 {
		display: inline-block;
		color: $clr-primary-400;
		font-weight: FW(bold);
		font-size: FS(mdxx);

		//padding: 15rem 5rem 1rem 5rem;
	}
	& h4 {
		font-size: FS(sm);
		padding: 2rem 3rem;
		line-height: 2.5rem;
		color: $clr-secondary-100;
	}
	&__left {
		width: 50rem;
	}
	&__middle {
		//@include flex-between(column);
		width: 20%;
		left: 18rem;
		position: relative;
		background-color: #fff;
		border-radius: 10px;
		padding: 1rem;
		transition: background 0.5s, border 0.5s;
		border: 2px solid transparent;
		box-shadow: #9e9e9e33 0px 2px 11px 0px;
		& i {
			top: 2rem;
			left: 1rem;
		}
		& input {
			width: 100%;
			padding-left: 4rem;
			font-size: FS(md);
			line-height: 3.5rem;
			display: inline-block;
			background-color: $clr-light-200;
			margin-top: -1rem;
		}
		& h2 {
			font-size: FS(lg);
			font-weight: FW(bold);
		}
		& button {
			width: 100%;
			margin: 0;
			font-size: FS(md);
		}
	}
	&__right {
		& img {
			width: 59rem;
		}
	}

	&-icon {
		color: $clr-primary-400;
		padding: 1rem;
		border-radius: 50%;
		background-color: $clr-light-350;
		&::after {
			content: '';
			position: absolute;
			top: 5rem;
			left: 1.5rem;
			width: 1.5px;
			height: 135%;
			background-color: $clr-light-400;
		}
	}
}
.green {
	background-color: rgb(158, 224, 158);
	color: #fff;
}
