.footer {
	&__wrapper {
		margin: 2rem 0;
		@include flex-between(row);
		align-items: flex-start;
		padding: 0 10rem;

		& img {
			width: 50%;
		}
	}
	&__links {
		& h2 {
			font-weight: FW(bold);
			font-size: FS(mdx);
		}
	}
	&__link {
		padding: 0.5rem;
		& a {
			font-size: FS(mdx);
			color: $clr-dark-100;
			&:hover {
				font-style: italic;
				font-weight: FW(bold);
				color: $clr-primary-300;
				transition: all 0.3s;
				transform: scale(1.1);
			}
		}
	}
	&__social {
		width: 25%;
		cursor: pointer;

		& img{
			padding-bottom: 2rem;
			width: 100%;
			//border-bottom: 3px solid $clr-primary-300;
		}
		& i{
			color: $clr-light-100;
			padding: .5rem;
			border-radius: 5px;
			background-color: $clr-primary-200;
			margin: 1.5rem 1rem;
			&:hover {
				color: $clr-primary-300;
				transition: all 0.3s;
			}
		}
		&-row{
			padding: 3rem 0;
		}
	}
}
