.hero {
	padding-top: 4rem;
	//background-color: $clr-primary-100;
	&__wrapper {
		@include flex-between(row);
		justify-content: center;
	}
	&__left {
		& h1 {
			font-family: $font-family-poppins;
			font-size: 5rem;
			color: $clr-primary-500;
		}
		& h4 {
			font-size: FS(sm);
			padding: 3rem 0;
			line-height: 2.5rem;
			font-family: $font-family-montserrat;
			color: $clr-light-400;
		}
		&-down {
			@include flex-between(row);
			justify-content: flex-start;
			gap: 2rem;
		}
		&-btn {
			@include flex-between(row);
			//display: inline;
			padding: 1rem 2rem;
			text-align: left;
			color: $clr-light-100;
			background-color: $clr-primary-400;
			border-radius: 5px;
			font-family: $font-family-opensans;
			font-size: FS(sm);
			gap: 1rem;
			& img {
				width: 25px;
				//display: inline-block;
			}
		}
	}

	&__right {
		& img{
			width: 70rem;
		}
	}
	&__search {
		position: relative;
		z-index: 999;
		background-color: #fff;
		padding: 3rem;
		margin: -4rem auto;
		width: 95%;
		box-shadow: 3px 3px 9px 0px rgba(0,0,0,.1);
		border-radius: 10px;
		& form {
			font-size: FS(mdx);
		}
		&-wrapper {
			@include flex-between(row);
			justify-content: flex-start;
			gap: 1rem;
		}
		& input{
			position: relative;
			width: 43%;
			margin-right: 4rem;
			padding-left: 4rem;
			background-color: $clr-light-200;
			//opacity: .5;
		}
		& i{
			z-index: 999;
			position: relative;
			margin-right: -40px;
			color: $clr-primary-400;
		}
		&-btn {
			line-height: 3.2rem;
			margin-left: -3rem;
			border-radius: 8px;
			& i{
				color: $clr-light-100;
				margin: 0;
			}
		}
		& h2 {
			color: $clr-primary-400;
			font-weight: FW(bold);
			font-size: FS(mdx);
			padding: 1rem 0;
		}
		&-tag {
			color: $clr-primary-400;
			background-color: $clr-info-100;
			font-family: $font-family-montserrat;
			font-weight: FW(bold);
			font-size: FS(sm);
			padding: 1rem 1rem;
			border-radius: 5px;
			border: 1px solid $clr-info-200;
		}
		&-more {
			color: $clr-primary-400;
			background-color: $clr-info-200;
			width: 7%;
			text-align: center;
			font-weight: FW(bold);
			font-size: FS(md);
			padding: 1rem 1rem;
			border-radius: 5px;
		}
	}
}
.dot {
	border: 1px solid $clr-secondary-100;
	border-radius: 55%;
	z-index: -1;
	position: absolute;
}
.p1 {
	top: 28rem;
	left: 62%;
	padding: 10rem;
}
.p2 {
	top: 23rem;
	left: 58%;
	padding: 15rem;
}
.p3 {
	top: 16rem;
	left: 53%;
	padding: 21rem;
}
.p4 {
	top: 7rem;
	left: 46%;
	padding: 31rem;
}
.m1{
	position: relative;
	top1:10rem;

}