.popular {
	position: relative;
	margin-top: -10rem;
	background-color: $clr-light-300;
	z-index: -1;
	&__wrapper {
		@include flex-between(row);
		padding: 0rem 5rem 0rem 5rem;
	}
	& h2 {
		color: $clr-primary-400;
		font-weight: FW(bold);
		font-size: FS(lgxx);
		padding: 15rem 5rem 1rem 5rem;
		//padding-top: 15rem;
	}
	&__side {
		@include flex-between(column);
		border-right: 2px solid $clr-primary-300;
		&-row {
			color: $clr-primary-100;
			font-weight: FW(bold);
			font-size: FS(mdx);
			padding: 1rem 1rem;
		}
	}
	&__row {
		@include flex-between(row);
		gap: 2rem;
		padding: 1rem;
	}
	&__item {	
		
		text-align: center;
		width: 17rem;
		min-width: 17rem;
		max-width: 17rem;
		border-radius: 10px;
		background-color: #fff;
		padding: 2rem 2rem;
		font-size: FS(sm);
		transition: background 0.5s, border 0.5s;
		border: 2px solid transparent;
		box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 11px 0px;
	    
		& img{
			
			padding-left: 3rem;
		}
		&:hover{
			background-color: $clr-info-100;
			border: 2px solid $clr-primary-400;

		}
	}
}

.side-active {
	color: $clr-primary-400;
}
