.why {
	@include flex-between(row);
	justify-content: center;
	padding-top:3rem;
    gap: 2rem;
	&__left{
		//width: 35%;
		& img{
			width: 120%;
		}
	}
	&__mid {
       
		&-wrapper {
			@include flex-between(column);
			background-color: #fff;
			padding: 1rem 1.5rem;
			border-radius: 10px;
            position: relative; 
            left:-2%;
			top:2rem;
		}

		&-item {
			@include flex-between(row);
			padding: 0.7rem;
			& img {
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				display: inline-block;
			}
            & h2{
                line-height: 3rem;
                padding: 0 1rem;
            }
		}
		&-dot {
			font-size: FS(mdx);
			color: $clr-secondary-100;
            cursor: pointer;
		}
	}
	&__right {
		padding: 1rem;
		& h2 {
			color: $clr-primary-400;
			font-family: $font-family-abel;
			font-size: FS(lgxx);
			font-weight: FW(bold);
           
		}
        & h3 {
			color: $clr-light-500;
			font-size: FS(sm);
			font-weight: FW(bold);
            padding: 1rem 0;
           
		}
        & h4 {
            font-size: FS(sm);
            color: $clr-primary-400;
            display: contents;
            line-height: 3rem;
        }
        & button{
            font-size: large;
        }
		&-item {
			& i {
				display: inline;
				color: $clr-primary-300;
				//border: 2px solid $clr-primary-300;
				//border-radius: 50%;
			//	font-size: FS(md);
				//font-weight: FW(bold);
                margin-right: 0rem;
			}
          
		}
	}
}

.ri-2x { font-size: 2.5em; line-height: 0.6666em; vertical-align: -.3em; }