.btn-side {
	//padding: 15px 25px;
	padding: 1rem 2.5rem;
	margin: 1rem;
	border: unset;
	//border-radius: 15px;
	background: $clr-primary-300;
	color: $clr-light-100;
	z-index: 1;
	//background: #e8e8e8;
	position: relative;
	//font-weight: 1000;
	//font-size: 17px;
	-webkit-box-shadow: 4px 8px 8px -1px rgba(0, 0, 0, 0.27);
	box-shadow: 1px 1px 19px -3px rgba(0, 0, 0, 0.27);
	transition: all 250ms;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		//border-radius: 15px;
		background-color: $clr-primary-400;
		z-index: -1;
		-webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
		box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
		transition: all 250ms;
	}

	&:hover {
		color: #e8e8e8;
	}

	&:hover::before {
		width: 100%;
	}
}
