@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2؟family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'Gilroy';
  src: url("./../font/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("./../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./../font/Gilroy-Regular.woff2") format("woff2"), url("./../font/Gilroy-Regular.woff") format("woff"), url("./../font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url("./../font/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Black"), url("./../font/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("./../font/Gilroy-Extrabold.woff2") format("woff2"), url("./../font/Gilroy-Extrabold.woff") format("woff"), url("./../font/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@-webkit-keyframes btn-ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes btn-ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Abel", sans-serif;
  background-color: #e3eefc;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.25s color 0.25s;
  transition: background-color 0.25s color 0.25s;
}

button,
span,
div,
input {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input {
  border: 1px solid #cccdcf;
  width: 38rem;
  line-height: 5rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

input:focus {
  -webkit-box-shadow: 0 0 0 2px #102851;
          box-shadow: 0 0 0 2px #102851;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  font-family: inherit;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.btn-primary {
  padding: 1rem 2.5rem;
  margin: 1rem;
  background-color: #014ed5;
  color: #ffffff;
}

.btn-primary:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:hover i {
  color: #8cb0e7;
}

.btn-secondary {
  -webkit-box-shadow: 0 0 0 0.2rem #8cb0e7;
          box-shadow: 0 0 0 0.2rem #8cb0e7;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  color: #8cb0e7;
  font-size: 1.2rem;
}

.btn-secondary:hover {
  transform: scale(1.13);
  -webkit-transform: scale(1.13);
  background-color: transparent;
  color: #8cb0e7;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 6rem;
}

.slider {
  background-color: white;
  font-size: 10rem;
  color: #7086c2;
}

.slider:nth-child(1) {
  color: #014ed5;
}

.btn-side {
  padding: 1rem 2.5rem;
  margin: 1rem;
  border: unset;
  background: #014ed5;
  color: #ffffff;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 8px 8px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 1px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
}

.btn-side::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #102851;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.btn-side:hover {
  color: #e8e8e8;
}

.btn-side:hover::before {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.7rem;
  font-weight: 800;
  height: 9rem;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

.nav > ul li {
  padding-left: 4rem;
}

.nav > ul li:nth-child(4) {
  padding-left: 34rem;
}

.nav > ul li:nth-child(5) {
  color: #ffffff;
}

.nav a {
  color: #102851;
  font-family: "Abel", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.nav a:hover {
  color: #014ed5;
}

.nav img {
  display: inline-block;
  width: 15%;
}

.hero {
  padding-top: 4rem;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__left h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  color: #0e305d;
}

.hero__left h4 {
  font-size: 1.7rem;
  padding: 3rem 0;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  color: #b9b9b9;
}

.hero__left-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
}

.hero__left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  text-align: left;
  color: #ffffff;
  background-color: #102851;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  gap: 1rem;
}

.hero__left-btn img {
  width: 25px;
}

.hero__right img {
  width: 65rem;
}

.hero__search {
  position: relative;
  z-index: 999;
  background-color: #fff;
  padding: 3rem;
  margin: -4rem auto;
  width: 95%;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hero__search form {
  font-size: 2rem;
}

.hero__search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.hero__search input {
  position: relative;
  width: 43%;
  margin-right: 4rem;
  padding-left: 4rem;
  background-color: #f8f8f8;
}

.hero__search i {
  z-index: 999;
  position: relative;
  margin-right: -40px;
  color: #102851;
}

.hero__search-btn {
  line-height: 3.2rem;
  margin-left: -3rem;
  border-radius: 8px;
}

.hero__search-btn i {
  color: #ffffff;
  margin: 0;
}

.hero__search h2 {
  color: #102851;
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem 0;
}

.hero__search-tag {
  color: #102851;
  background-color: #e3eefc;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccdfff;
}

.hero__search-more {
  color: #102851;
  background-color: #ccdfff;
  width: 7%;
  text-align: center;
  font-weight: 800;
  font-size: 1.7rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.dot {
  border: 1px solid #b3becf;
  border-radius: 55%;
  z-index: -1;
  position: absolute;
}

.p1 {
  top: 28rem;
  left: 62%;
  padding: 10rem;
}

.p2 {
  top: 23rem;
  left: 58%;
  padding: 15rem;
}

.p3 {
  top: 16rem;
  left: 53%;
  padding: 21rem;
}

.p4 {
  top: 7rem;
  left: 46%;
  padding: 31rem;
}

.m1 {
  position: relative;
  top1: 10rem;
}

.popular {
  margin-top: -10rem;
  background-color: #f7f8fc;
  z-index: -1;
}

.popular__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 5rem 0rem 0rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.popular h2 {
  color: #102851;
  font-weight: 800;
  font-size: 4rem;
  padding: 15rem 0rem 5rem 0rem;
}

.popular__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #014ed5;
  cursor: pointer;
}

.popular__side-row {
  color: #8f9cbd;
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem 1rem;
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.popular__item {
  cursor: pointer;
  text-align: center;
  width: 17rem;
  min-width: 17rem;
  max-width: 17rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  -webkit-transition: background 0.5s, border 0.5s;
  transition: background 0.5s, border 0.5s;
  border: 2px solid transparent;
  -webkit-box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 11px 0px;
          box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 11px 0px;
}

.popular__item img {
  padding-left: 3rem;
}

.popular__item:hover {
  background-color: #e3eefc;
  -webkit-box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 11px 0px;
          box-shadow: rgba(143, 143, 143, 0.2) 0px 2px 11px 0px;
}

.side-active {
  color: #102851;
}

#Cond {
  display: none;
}

#Proc {
  display: none;
}

.find {
  padding: 2rem 7rem;
  background-color: #f7f8fc;
}

.find__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find i {
  position: relative;
  margin-right: 10px;
  vertical-align: baseline;
}

.find h2 {
  color: #102851;
  font-weight: 800;
  font-size: 4rem;
}

.find h3 {
  display: inline-block;
  color: #102851;
  font-weight: 800;
  font-size: 2.3rem;
}

.find h4 {
  font-size: 1.5rem;
  padding: 2rem 3rem;
  line-height: 2.5rem;
  color: #b3becf;
}

.find h5 {
  font-size: 1.5rem;
  padding: 2rem 1rem;
  line-height: 2.5rem;
  color: #b3becf;
}

.find__left {
  width: 50rem;
}

.find__middle {
  width: 20%;
  left: 18rem;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  -webkit-transition: background 0.5s, border 0.5s;
  transition: background 0.5s, border 0.5s;
  border: 2px solid transparent;
  -webkit-box-shadow: #9e9e9e33 0px 2px 11px 0px;
          box-shadow: #9e9e9e33 0px 2px 11px 0px;
}

.find__middle i {
  top: 2rem;
  left: 1rem;
}

.find__middle input {
  width: 100%;
  padding-left: 4rem;
  font-size: 1.7rem;
  line-height: 3.5rem;
  display: inline-block;
  background-color: #f8f8f8;
  margin-top: -1rem;
}

.find__middle h2 {
  font-size: 2.6rem;
  font-weight: 800;
}

.find__middle button {
  width: 100%;
  margin: 0;
  font-size: 1.7rem;
}

.find__right img {
  width: 59rem;
}

.find-icon {
  color: #102851;
  padding: 1rem;
  border-radius: 50%;
  background-color: #eeeefd;
}

.find-icon::after {
  content: '';
  position: absolute;
  top: 5rem;
  left: 1.5rem;
  width: 1.5px;
  height: 135%;
  background-color: #b9b9b9;
}

.green {
  background-color: #9ee09e;
  color: #fff;
}

.why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  gap: 2rem;
}

.why__left img {
  width: 120%;
}

.why__mid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  position: relative;
  left: -2%;
  top: 2rem;
}

.why__mid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem;
}

.why__mid-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: inline-block;
}

.why__mid-item h2 {
  line-height: 3rem;
  padding: 0 1rem;
}

.why__mid-dot {
  font-size: 2rem;
  color: #b3becf;
  cursor: pointer;
}

.why__right {
  padding: 1rem;
}

.why__right h2 {
  color: #102851;
  font-family: "Abel", sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

.why__right h3 {
  color: #afafaf;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 1rem 0;
}

.why__right h4 {
  font-size: 1.4rem;
  color: #102851;
  display: contents;
  line-height: 3rem;
}

.why__right button {
  font-size: large;
}

.why__right-item i {
  display: inline;
  color: #014ed5;
  margin-right: 0rem;
}

.ri-2x {
  font-size: 2.5em;
  line-height: 0.6666em;
  vertical-align: -.3em;
}

.meet {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 3rem 10rem;
}

.meet h2 {
  color: #102851;
  font-size: 4rem;
  font-weight: 800;
}

.meet h4 {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  line-height: 2.5rem;
  color: #b3becf;
}

.meet__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meet__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.meet__dr {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 10px;
  height: 38rem;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s, border 0.5s;
  transition: all 0.5s, border 0.5s;
  border: 2px solid transparent;
  -webkit-box-shadow: #adadad33 0px 2px 11px 0px;
          box-shadow: #adadad33 0px 2px 11px 0px;
}

.meet__dr h2 {
  color: #102851;
  font-size: 2.6rem;
  font-weight: 800;
}

.meet__dr img {
  height: 29rem;
  width: 23rem;
}

.meet__dr:hover {
  background-color: #f7f8fc;
  -webkit-box-shadow: 0 0 8px 1px #afafaf;
          box-shadow: 0 0 8px 1px #afafaf;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.patient {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 3rem 10rem;
}

.patient h2 {
  color: #102851;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  padding: 1rem 0;
}

.patient h3 {
  color: #102851;
  font-size: 2rem;
}

.patient h4 {
  font-size: 1.4rem;
  width: 70%;
  color: #b3becf;
  text-align: left;
  line-height: 3rem;
}

.patient h5 {
  color: #b3becf;
  text-align: center;
  line-height: 3rem;
  font-size: 1.7rem;
}

.patient input {
  position: relative;
  left: 7rem;
  font-size: 2.6rem;
}

.patient__left {
  width: 40%;
}

.patient__left img {
  width: 100%;
  border-radius: 15px;
}

.patient__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
}

.patient__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5rem;
}

.patient__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.patient__profile img {
  width: 80px;
  border-radius: 10px;
}

.patient__profile-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.patient__profile-dot {
  left: 1rem;
}

.patient__profile-dot span {
  color: #014ed5;
}

.patient__rate {
  color: orange;
  font-size: 2.6rem;
}

.patient__subscribe {
  margin: 4rem auto;
  border-radius: 15px;
  background-color: #014ed5;
  padding: 4rem;
  width: 50%;
}

.patient__subscribe h2 {
  color: #ffffff;
  font-size: 3rem;
}

.patient__subscribe input {
  background-color: #fff;
  position: relative;
}

.patient__subscribe button {
  position: relative;
  left: -3.2rem;
  top: -0.2rem;
  background-color: #102851;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  line-height: 3rem;
  z-index: 999;
}

.footer__wrapper {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10rem;
}

.footer__wrapper img {
  width: 50%;
}

.footer__links h2 {
  font-weight: 800;
  font-size: 2rem;
}

.footer__link {
  padding: 0.5rem;
}

.footer__link a {
  font-size: 1.7rem;
  color: #b9b9b9;
}

.footer__link a:hover {
  font-style: italic;
  font-weight: 800;
  color: #014ed5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social {
  width: 25%;
  cursor: pointer;
}

.footer__social img {
  padding-bottom: 2rem;
  width: 80%;
}

.footer__social i {
  color: #ffffff;
  padding: .5rem;
  border-radius: 5px;
  background-color: #7086c2;
  margin: 1.5rem 1rem;
}

.footer__social i:hover {
  color: #014ed5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-row {
  padding: 3rem 0;
}
/*# sourceMappingURL=main.css.map */