@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,800");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel");
@font-face {
  font-family: 'Gilroy';
  src: url("./../font/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("./../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./../font/Gilroy-Regular.woff2") format("woff2"), url("./../font/Gilroy-Regular.woff") format("woff"), url("./../font/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url("./../font/Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Black"), url("./../font/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("./../font/Gilroy-Extrabold.woff2") format("woff2"), url("./../font/Gilroy-Extrabold.woff") format("woff"), url("./../font/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --clr-primary-100: #8f9cbd;
  --clr-primary-200: #7086c2;
  --clr-primary-300: #6985cf;
  --clr-primary-400: #102851;
  --clr-primary-500: #0e305d;
  --clr-secondary-100: #9ebefa;
  --clr-secondary-200: #6e9ef7;
  --clr-secondary-300: #3e7ef4;
  --clr-secondary-400: #255b98;
  --clr-secondary-500: #062560;
  --clr-teritary-100: #939497;
  --clr-teritary-200: #9c9c9c;
  --clr-teritary-300: #cccccf;
  --clr-teritary-400: #e4e7eb;
  --clr-teritary-500: #ffffff;
  --clr-success-100: #b5d8a7;
  --clr-success-200: #a9d09e;
  --clr-success-300: #a2c897;
  --clr-success-400: #8cb081;
  --clr-success-500: #7da67d;
  --clr-danger-100: #f7c9c9;
  --clr-danger-200: #f4b7b7;
  --clr-danger-300: #f2a5a5;
  --clr-danger-400: #e78c8c;
  --clr-danger-500: #e07a7a;
  --clr-warning-100: #f9e0b0;
  --clr-warning-200: #f8d098;
  --clr-warning-300: #f7c076;
  --clr-warning-400: #f5a856;
  --clr-warning-500: #f39a4e;
  --clr-info-100: #b5d8f7;
  --clr-info-200: #a9d0f4;
  --clr-info-300: #a2c8f2;
  --clr-info-400: #8cb0e7;
  --clr-info-500: #7da6e5;
  --clr-light-100: #f7f7f7;
  --clr-light-200: #f2f2f2;
  --clr-light-300: #ebebeb;
  --clr-light-400: #e4e4e4;
  --clr-light-500: #dcdcdc;
  --clr-dark-100: #1f2d3d;
  --clr-dark-200: #2a3f54;
  --clr-dark-300: #2e4f6c;
  --clr-dark-400: #3b5f8b;
  --clr-dark-500: #4c6f9e;
  --clr-transparent-100: transparent;
  --clr-transparent-200: transparent;
  --clr-transparent-300: transparent;
  --clr-transparent-400: transparent;
  --clr-transparent-500: transparent;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}

@media only screen and (min-width: 767px) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.6rem;
    --fs-600: 1.8rem;
    --fs-700: 2rem;
    --fs-800: 2.2rem;
  }
}

@media only screen and (min-width: 767px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1425rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}
/*# sourceMappingURL=main.css.map */